@tailwind base;

@tailwind components;

@tailwind utilities;


:root{  
--startColor: hsl(0, 100%, 75%);
--stopColor: hsl(0, 100%, 75%);
}

.center-y{
    top: 50%;
    transform: translateY(-50%);
}

svg {
    /* a perfectly square <svg> element that will never overflow the viewport */
    width: 90vmin;
    height: 90vmin;
    
  }

@layer components{ 
    .button{ 
        @apply w-6 h-5 rounded-full mt-1 mb-2 2xl:w-10 2xl:h-8 xl:w-10 xl:h-8;
        } 
   }





